@import url('http://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css');

*{
    box-sizing: border-box;
    
}

body{
    margin: 0;
    /* background-color: black; */
}

.toggle{
    position: fixed;
    top: 30px;
    left: 30px;
    cursor: pointer;
    z-index: 100;
}


.toggle i{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 35px;
    line-height: 40px;
    background-color: black;
    transition: 0.5s;
    color: white;
    text-align: center;
}

.overlay{
    position: fixed;
    background-color: black;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    top:30px;
    left:30px;
    transition: 0.5s;
    opacity: 0;
    z-index: 10;
}

.overlay.active{
    transform: scale(130);
    opacity: 1;
}

.gnb{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    list-style: none;
    margin: 0;
    padding: 0;
    pointer-events: none;
    opacity: 0;
    transition: 0.5s;
    z-index: 100;
}

.gnb.active{
    opacity: 1;
    pointer-events: all;
}

.gnb a{
    color: white;
    text-decoration: none;
    font-size: 3.5em;
    line-height: 1.6em;
    position: relative;
}

.toggle.active i{
    background-color: yellowgreen;
    transform: rotate(315deg);
}

.gnb a::after{
    content: '';
    position: absolute;
    height: 20px;
    width: 0;
    background-color: yellowgreen;
    left: 0;
    bottom: 10px;
    transition: 0.5s;
    z-index: -1;
}

.gnb a:hover::after{
    width: 100%;
}

.container{
    text-align: center;
    width: 1200px;
    position: relative;

}

h1{
    font-size: 50px;
    border-bottom: 5px solid red;
    display: inline-block;
}

#feature2{
    height: 800px;
    position: relative;
    left: 25%;
    top: 100px;
}
#feature3{
    height: 800px;
    position: relative;
    left: 25%;
    top: 100px;
}
section .inner .heading{
    text-align: center;
    padding: 100px; 
}

section .inner .heading .border{
    width: 150px;
    height: 6px;
    background-color: crimson;
    margin: auto;
}
